* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
body a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
body .main {
  height: 100%;
  background-color: black;
}
body .main .title {
  background-image: url("./quantri/anhSP/avt0.jpg");
  height: 145px;
}
body .main .title #divTEN {
  color: goldenrod;
  background-color: black;
  display: inline-block;
  margin: 0% 0% 0% 14%;
  padding: 0% 0%;
}
body .main .title #divTEN h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-top: 4%;
}
body .main .title #divTEN p {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 7%;
}
body .main .search {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 40px;
  display: block;
  margin: 3px 0px;
}
body .main .search #timkiem {
  display: inline;
  left: 200px;
  position: absolute;
}
body .main .search #timkiem th {
  color: #ffffff;
  font-size: 20px;
  padding: 0px 5px;
}
body .main .search #timkiem th input {
  font-size: 16px;
  padding: 3px;
}
body .main .search #bangForm {
  float: right;
  margin-right: 50px;
}
body .main .search #bangForm tr th {
  font-weight: normal;
  padding: 0px 3px;
}
body .main .search #bangForm tr th a {
  font-size: 22px;
  padding: 3px;
  width: 100%;
  float: right;
  background-color: unset;
}
body .main .search #bangForm a:hover {
  color: #fb7516;
  border-bottom: 1px #fb7516 solid;
}
body .main .search #ccc {
  float: right;
  text-align: center;
  margin: 2px 80px 2px 0px;
}
body .main .search #ccc li {
  list-style-type: none;
  display: block;
  position: relative;
  text-align: center;
  clear: right;
  padding-right: 70px;
}
body .main .search #ccc li #cc {
  display: none;
  top: 34.5px;
  width: 100%;
  position: absolute;
  background-color: white;
  text-align: center;
  clear: right;
}
body .main .search #ccc li #cc li {
  width: 100%;
  margin: 3px 0px;
  list-style-type: none;
  text-align: center;
}
body .main .search #ccc li #cc li a {
  width: 95%;
  float: right;
  color: black;
  border: unset;
}
body .main .search #ccc li #cc li a:hover {
  background-color: #cc9966;
}
body .main .search #ccc li a {
  font-size: 22px;
  padding: 3px;
  float: right;
  border: 1px #ffffff solid;
}
body .main .search #ccc li a:hover {
  color: #fb7516;
  border: #fb7516 1px solid;
}
body .main .search #ccc li:hover #cc {
  display: block;
}
body .main .menu {
  background-color: #1b1d4d;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 10px;
}
body .main .menu ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
  text-align: center;
  background-color: #1b1d4d;
}
body .main .menu ul li {
  height: 100%;
  margin: 0px -2px;
  padding: 0px 7px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
}
body .main .menu ul li ol {
  display: none;
  clear: left;
  position: absolute;
  padding: 0px;
  margin: 1px;
  top: 45px;
  width: 100%;
  text-align: center;
}
body .main .menu ul li ol li {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin: -2px;
  text-align: center;
}
body .main .menu ul li ol li a {
  width: 100%;
  font-size: 20px;
  clear: left;
  clear: right;
  background-color: #1b1d4d;
  padding: 7px;
}
body .main .menu ul li ol li a:hover {
  border: #fb7516 2px solid;
}
body .main .menu ul li a {
  font-size: 30px;
  padding: 5px;
  float: right;
  background-color: #1b1d4d;
}
body .main .menu #li_gh {
  padding-left: 100px;
}
body .main .menu ul li:hover ol {
  display: block;
}
body .main .menu ul li a:hover {
  color: #fb7516;
  border-bottom: #fb7516 1px solid;
}
body .main .showslide {
  padding: 10px 0px;
  clear: both;
  text-align: center;
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
  position: relative;
  width: 100%;
}
body .main .showslide .prev,
body .main .showslide .next {
  cursor: pointer;
  padding: 26px;
  color: white;
  position: absolute;
  top: 42%;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: #c0c0c0;
}
body .main .showslide .next {
  right: 10.6%;
}
body .main .showslide .prev {
  left: 10.7%;
}
body .main .showslide .prev:hover,
body .main .showslide .next:hover {
  background-color: #cc9966;
}
body .main .showslide #a1 {
  height: 400px;
  width: 370px;
  margin: 7px 0px 0px 0px;
}
body .main .showslide #a2 {
  margin: 0px;
  height: 300px;
  width: 280px;
  padding: 0px 0px 45px 0px;
}
body .main .showslide #a3 {
  height: 300px;
  width: 280px;
  padding: 0px 0px 45px 0px;
}
body .main .content {
  clear: right;
  clear: left;
}
body .main .footer {
  clear: right;
  clear: left;
  font-size: 19px;
  color: #ffffff;
  padding: 20px;
}
body .main .footer p {
  padding: 3px;
  text-align: center;
}
body .main .footer .btn-top {
  background-image: url("./hinhdaidien/lendau.png");
  background-color: #c0c0c0;
  background-size: 100% 100%;
  border: black 1px solid;
  cursor: pointer;
  display: none;
  outline: medium none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 99;
}

@media only screen and (max-width: 1024px) {
  body .main .menu ul {
    text-align: unset;
  }
  body .main .menu ul li ol {
    top: 32px;
  }
  body .main .menu ul li a {
    font-size: 24px;
    padding: 3px;
  }
  body .main .menu ul li #gh {
    font-size: 20px;
  }
  body .main .menu ul #li_gh {
    margin: 5px 0px 1.5px 0px;
    padding-left: 60px;
  }
  body .main .showslide .prev,
  body .main .showslide .next {
    padding: 20px;
    font-size: 18px;
  }
  body .main .showslide .next {
    right: 6.7%;
  }
  body .main .showslide .prev {
    left: 6.7%;
  }
  body .main .showslide #a1 {
    height: 300px;
    width: 320px;
  }
  body .main .showslide #a2 {
    height: 200px;
    width: 230px;
    padding-bottom: 45px;
  }
  body .main .showslide #a3 {
    height: 200px;
    width: 230px;
    padding-bottom: 45px;
  }
}
@media only screen and (max-width: 768px) {
  body .main .search {
    height: 30px;
  }
  body .main .search #timkiem {
    font-size: 14px;
    left: 100px;
  }
  body .main .search #timkiem th {
    font-size: 14px;
  }
  body .main .search #timkiem th input {
    font-size: 12px;
  }
  body .main .search #bangForm {
    margin-right: 0px;
  }
  body .main .search #bangForm tr th a {
    font-size: 16px;
  }
  body .main .menu ul {
    text-align: unset;
  }
  body .main .menu ul li ol {
    top: 26px;
  }
  body .main .menu ul li a {
    font-size: 18px;
    padding: 3px;
  }
  body .main .menu ul li #gh {
    font-size: 14px;
  }
  body .main .menu ul #li_gh {
    margin: 5px 0px 1.5px 0px;
    padding-left: 20px;
  }
  body .main .showslide .prev,
  body .main .showslide .next {
    padding: 15px;
    font-size: 12px;
  }
  body .main .showslide .next {
    right: 16.1%;
  }
  body .main .showslide .prev {
    left: 16.1%;
  }
  body .main .showslide #a1 {
    height: 180px;
    width: 180px;
  }
  body .main .showslide #a2 {
    height: 110px;
    width: 130px;
    padding-bottom: 35px;
  }
  body .main .showslide #a3 {
    height: 110px;
    width: 130px;
    padding-bottom: 35px;
  }
}
@media only screen and (max-width: 375px) {
  body .main .search {
    height: 20px;
  }
  body .main .search #timkiem {
    font-size: 10px;
    left: 0px;
  }
  body .main .search #timkiem th input {
    font-size: 6px;
  }
  body .main .search #bangForm {
    margin-right: 0px;
  }
  body .main .search #bangForm tr th a {
    font-size: 10px;
  }
  body .main .search #ccc {
    margin-right: 0px;
  }
  body .main .menu ul {
    text-align: unset;
  }
  body .main .menu ul li ol {
    z-index: 19;
    top: 16px;
  }
  body .main .menu ul li ol li a {
    font-size: 9px;
  }
  body .main .menu ul li a {
    font-size: 10px;
    padding: 3px;
  }
  body .main .menu ul li #gh {
    font-size: 9px;
  }
  body .main .menu ul #li_gh {
    margin: 5px 0px 1.5px 0px;
    padding-left: 0px;
  }
  body .main .showslide {
    padding: 5px 0px;
  }
  body .main .showslide .prev,
  body .main .showslide .next {
    padding: 7px;
    font-size: 10px;
  }
  body .main .showslide .next {
    right: 13.6%;
  }
  body .main .showslide .prev {
    left: 13.6%;
  }
  body .main .showslide #a1 {
    height: 100px;
    width: 85px;
    margin-top: 0px;
  }
  body .main .showslide #a2 {
    height: 80px;
    width: 70px;
    padding-bottom: 5px;
  }
  body .main .showslide #a3 {
    height: 80px;
    width: 70px;
    padding-bottom: 5px;
  }
}

/*# sourceMappingURL=dd.css.map */
