#divTable {
    width: 100%;
    padding: 5px 0px 20px 0px;
    background-color: #d3d3d3;
    position: relative;
    clear: both;
    h1{
        color: #f58c02;
        text-align: center;
        padding: 7px 0px;
    }
    //quanLySanPham
    #bangQL {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        th {
            background-color: #696969;
            padding: 3px 5px;
            border: 1px white solid;
        }
        #td4 {
            font-weight: normal;
            background-color: #ffffff;
            padding: 0px 5px;
            border-bottom: 1px black solid;
            a {
                background-color: #f58c02;
                padding: 3px 7px;
            }
            a:hover {
                color: #1b1d4d;
            }
        }
    }

    #bang1 {
        margin: auto;
        background-color: #ffffff;
        font-size: 20px;
        padding-bottom: 20px;
        td,
        th {
            padding: 3px 15px;
        }
        h1 {
            color: #f97a12;
            padding: 7px 0px;
        }
        #bang2 {
            background-color: #d3d3d3;
            width: 100%;
            td,
            th {
                padding: 3px;
                text-align: center;
            }
            th {
                background-color: #696969;
                border: solid 1px white;
            }
            td {                
                padding: 3px 7px;
                border-bottom: solid 1px black;
                a {
                    background-color: #f58c02;
                    padding: 3px 15px;                    
                }
                a:hover {
                    background-color: green;
                }
            }
            .td222{
                padding: 3px 20px;
            }
            .td1 {
                color: red;
                font-weight: bold;
            }
        }

        //Form
        #bang3 {
            padding: 7px 0px;
            background-color: #d3d3d3;
            width: 100%;
            td {
                padding: 0px 0px 0px 30px;
                span {
                    font-weight: bold;
                }
                input {
                    margin-left: 30px;
                }
            }
            #thinput {
                padding: 7px 0px;
                input {
                    margin: 0px;
                    padding: 5px;
                    font-size: 18px;
                    background-color: #CD853F;
                    font-weight: bold;
                }
                .in1:hover {
                    background-color: #DEB887;
                }
            }
        }
        #in3 {
            background-color: #f58c02;
            border: #302616 2px solid;
            color: #ffffff;
            padding: 7px 10px;            
        }
        #in3:hover{
            background-color: #1b1d4d;
        }
        #in33 {
            background-color: white;
            text-align: right;
            padding: 0px 0px;
            img{
                height: 30px;
                width: 40px;
            }
        }
    }
}

//Các trang chứa sản phẩm
#divTong {
    
    clear: both;
    margin-top: 10px;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    h1 {
        background-color: #302616;
        color: #f97a12;
        text-align: center;
        padding: 10px 0px;
    }
    p {
        clear: left;
        text-align: center;
        padding: 7px 0px;
        a {
            font-size: 20px;
            padding: 10px;
            background-color: royalblue;
        }
        a:hover {
            background-color: #1b1d4d;            
        }
    }
    #bang1SP {
        background-color: #ffffff;
        font-size: 21px;
        display: block;
        float: left;
        padding: 0px;
        margin-bottom: 7px;
        width: 25%;
        height: 480px;
        border: 2px black solid;
        td {
            padding: 2px;
        }
        .td11{
            font-size: 30px;
        }
        #td1 {
            padding-left: 30px;
        }
        th {
            width: 642px;
            height: 250px;
            img {
                padding: 0px;
                margin: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }
    #bang2SP {
        clear: left;
        width: 100%;
        margin: 3px 0px;
        td {
            a {
                text-decoration: none;
                background-color: #f58c02;
                padding: 12px 7px;
                font-size: 18px;
            }
            a:hover {
                background-color: #696969;
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 999px) {
    //Các trang chứa sản phẩm
    #divTong {
        #bang1SP {
            font-size: 24px;
            height: 480px;
            .td11{
                font-size: 28px;
            }
            #bang2SP {
                width: 100%;
                height: 100%;
                margin: 1px 0px;
                td {
                    padding: 0px;
                    a {
                        padding: 9px 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    //Các trang chứa sản phẩm
    #divTong {
        p a{
            font-size: 17px;
            padding: 5px;
        }
        #bang1SP {
            font-size: 17px;
            height: 360px;
            th{
                
                height: 180px;
            }
            .td11{
                font-size: 24px;
            }
            .td11{
                font-size: 22px;
            }
            #td1 {
                padding-left: 10px;
            }
            #bang2SP {
                margin: 1px 0px;
                td {
                    a {
                        padding: 5px 2px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    #divTable {
        width: 765px;
        h1{
            font-size: 25px;
            padding: 5px 0px;
        }
        #bangQL {
            position: absolute;
            font-size: 16px;
            width: 760px;
            th,td{
                font-size: 16px;
                padding: 0px;
            }
        }
    
        #bang1 {
            font-size: 17px;
            td,
            th {
                padding: 0px;
            }
            h1 {
                color: #f97a12;
                padding: 3px 0px;
            }
            #bang2 {
                td,
                th {
                    padding: 0px;
                    text-align: center;
                }
            }
    
            //Form
            #bang3 {
                padding: 7px 0px;
                background-color: #d3d3d3;
                width: 100%;
                td {
                    padding: 0px 0px 0px 30px;
                    span {
                        font-weight: bold;
                    }
                    input {
                        margin-left: 30px;
                    }
                }
                #thinput {
                    padding: 7px 0px;
                    input {
                        margin: 0px;
                        padding: 5px;
                        font-size: 18px;
                        background-color: royalblue;
                        font-weight: bold;
                    }
                    .in1:hover {
                        background-color: #f58c02;
                    }
                }
            }
           
        }
    }
    
}
@media only screen and (max-width: 375px) {
    //Các trang chứa sản phẩm
    #divTong {
        p a{
            font-size: 10px;
            padding: 3px;
        }
        #bang1SP {
            font-size: 10px;
            height: 200px;
            th{
                height: 100px;
            }
            .td11{
                font-size: 10px;
            }
            td {
                padding: 0px;
            }
            #td1{
                padding-left: 2px;
            }
            #bang2SP {
                width: 100%;
                height: 100%;
                margin: 1px 0px;
                td {
                    padding: 0px;
                    a {
                        padding: 3px 2px;
                        font-size: 4px;
                    }
                }
            }
        }
    }
}
